* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(180deg, #3f87a6 0%, #f69d3c 90%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: black;
  border-radius: 1rem;
  width: 60%;
}
form button {
  color: #ff6f47;
  background: #cffdf8;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 12rem;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
.todo-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.todo-search {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  font-size: 1.5rem
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 1rem;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  font-size: 18px;
  color: black;
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  color: red;
  text-decoration: line-through;
  opacity: 0.2;
}

/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}*/
